services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./data:/data

  frontend:
    build: ./frontend
    ports:
      - "8081:80"
    depends_on:
      - backend
